<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> 
                    	<span>
                            <img alt="image" class="img-circle" th:src="@{/img/cat.jpg}" height="48px" width="48px" />
<!--                             <img  th:src="@{'/img/user/'+${session.user.getUserName()}+'.jpg'}" alt="image" class="img-circle" height="48px" width="48px"/>-->
<!--                            <tb th:text="@{session.user.getImage()}"></tb>-->
						</span>
                    	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> 
                            	<span class="block m-t-xs">
                            		<strong class="font-bold" th:text="${session.user.getUserName()}">username</strong>
                             	</span> 
                             </span>
                     	</a>
                    </div>
                    <div class="logo-element">
                        YX
                    </div>
                </li>
                <li>
                    <a th:href="@{dashboard}"><i class="fa fa-diamond"></i> <span class="nav-label">仪表盘</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">单车管理</span><span class="label label-warning pull-right">16</span></a>
                    <ul class="nav nav-second-level collapse">

                        <li id="bikeManage"><a th:href="@{bikeManage_0_0_0}">单车管理</a></li>
                        <li id="testBike"><a th:href="@{/map/ceshi}">测试入口</a></li>
                        <li id="regionManage"><a th:href="@{regionManage_0_0_0}">停车区域管理</a></li>
                        <li id="placeManage"><a th:href="@{parkingPlaceManage_0_0_0}">停车点管理</a></li>
                        <li id="hotPlaceManage"><a th:href="@{hotParkingPlaceManage_0_0_0}">停车热点管理</a></li>

                        <li id="hotManage"><a th:href="@{/getStopHeat}">历史停车热力图</a></li>
                        <li id="hotBikeshow"><a th:href="@{/map/hotImageTest}">单车热力图</a></li>
                        <li id="showBike"><a th:href="@{/map/showBike}">所有单车</a></li>
                        <li id="showUnused"><a th:href="@{/map/showUnused}">很久未使用单车</a></li>
                        <li id="showHotParking"><a th:href="@{/map/showHotParking}">热点及停车区域</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li id="userManage"><a th:href="@{userManage}">信息修改</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</body>
</html>



