<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body, html {
            width: 100%;
            height: 100%;
            overflow: scroll;
            margin: 0;
            font-family: "微软雅黑";
        }

        #allmap {
            height: 100%;
            width: 100%;
        }

        #r-result table {
            width: 100%;
            font-size: 12px;
        }

        #driving_way {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 100px;
            right: 100px;
            background: white;
        }

        h5 {
            margin: 0px;
            padding: 10px;
        }

        .tangram-suggestion-main {
            z-index: 9999999999;
        }
    </style>
    <script src="/js/umedit/ueditor.config.js"></script>
    <script src="/js/umedit/ueditor.all.min.js"></script>
    <script src="/js/umedit/lang/zh-cn/zh-cn.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script include="bootstrap,widgets.alert" src="/js/include-web.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=3.0&ak=IsP2hS57WxEhq9wGXOPRxpmqctE6RKTY"></script>
    <!--加载鼠标绘制工具-->
    <script type="text/javascript"
            src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css"/>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?type=webgl&v=1.0&ak=IsP2hS57WxEhq9wGXOPRxpmqctE6RKTY"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <title>模拟</title>

</head>
<body>
<div id="toolbar" class="panel panel-primary"
     style="  position: absolute;top: 10px;right: 10px;text-align: center;z-index: 1;border-radius: 4px;">
    <div>
        <input onclick="getRandomBike2()" type="button" value="模拟开锁"></input>
    </div>
    <div>
        <input onclick="stopBikePoint()" type="button" value="模拟停车点"></input>
    </div>
    <div>
        <input onclick="stopBike()" type="button" value="模拟停车"></input>
    </div>

    <h5 style="align: left;margin: 0px; padding: 10px;">输入起点：</h5>
    <div>
        <input type="text" style="width: 200px; height: 35px;" value="" id="beginplace"/>
    </div>
    <div id="searchResultPanel"
         style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;z-index: 9999"></div>
    <h5 style="align: left;margin: 0px; padding: 10px;">输入终点：</h5>
    <div>
        <input type="text" style="width: 200px; height: 35px;margin-bottom: 10px;" id="endplace"/>
    </div>

    <div>
        <input type="button" class="btn btn-default" style="width: 230px;margin-bottom: 10px;margin-top: 10px;"
               value="查询停车点" onclick="findParking()"/>
    </div>
</div>
<div id="r-result" style="position: absolute;margin-top: 50px;margin-left: 50px;width: 400px;z-index: 9999;"></div>
<div id="allmap"></div>

</body>
</html>
<script type="text/javascript">
    //--------------------------------新项目--------------------------------------


    // ----------------------------------老项目的----------------------------------
    function G(id) {
        return document.getElementById(id);
    }
    var beginLocation;
    var endLocation;
    var stopBikeLocation;
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    var myGeo = new BMapGL.Geocoder();
    var riding = new BMap.RidingRoute(map, {
        renderOptions: {
            map: map,
            autoViewport: true,
            panel: "r-result"
        }
    });
    // map.setMapStyle({
    //     styleJson:[mapstyle]
    // });
    map.centerAndZoom(new BMap.Point(113.557471, 34.836515), 14);  // 初始化地图,设置中心点坐标和地图级别
    //添加控件
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
    var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
    var top_right_navigation = new BMap.NavigationControl({
        anchor: BMAP_ANCHOR_TOP_RIGHT,
        type: BMAP_NAVIGATION_CONTROL_SMALL
    }); //右上角，仅包含平移和缩放按钮
    /*缩放控件type有四种类型:
    BMAP_NAVIGATION_CONTROL_SMALL：仅包含平移和缩放按钮；BMAP_NAVIGATION_CONTROL_PAN:仅包含平移按钮；BMAP_NAVIGATION_CONTROL_ZOOM：仅包含缩放按钮*/
    map.addControl(top_left_control);
    map.addControl(top_left_navigation);
    map.addControl(top_right_navigation);
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes: [
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]
    }));
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    function showInfo(e) {
        map.clearOverlays();    //清除地图上所有覆盖物
        endLocation = e.point;
        var marker = new BMap.Marker(e.point); // 创建标注
        map.addOverlay(marker);
        // alert('点击位置经纬度：' + e.latlng.lng + ',' + e.latlng.lat);
    };
    // var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
    //     {"input" : "beginplace"
    //         ,"location" : map
    //     });
    var ac2 = new BMap.Autocomplete(    //建立一个自动完成的对象
        {
            "input": "endplace"
            , "location": map
        });
    var myValue;
    ac2.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });
    ac2.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        console.log(e);
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
        setPlace();
    });
    // ac2.addEventListener("onclick",function(e){
    //     console.log(e.point);
    // });
    function setPlace() {
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun() {
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }
    // ------------------新项目----------------------------
    function findParking() {
        riding.search(beginLocation, endLocation);
        map.removeEventListener('click', showInfo);
        $.ajax({
            type: "GET",
            url: "/map/getRegionsByEnd" + "/" + endLocation.lng + "/" + endLocation.lat,
            dataType: "json",
            success: function (respMsg) {
                console.log("xxxxxxxxxxxxxxxxxxxxx");
                console.log(respMsg.data.regions.length);
                for (var k = 0; k < respMsg.data.regions.length; k++) {
                    console.log(k);
                    drawRegions(respMsg.data.regions[k]);
                }
            },
            error: function (respMsg) {
                console.log(respMsg);
            }
        });
    }
    // 绘制停车区域
    function drawRegions(e) {
        var var1 = e;
        var var2 = JSON.parse(var1.parkingRegionLongLati);
        // 构成多边形的点的数组
        var pointArr = [];
        var longTotal = 0;
        var latiTotal = 0;
        for (var k = 0; k < var2.length; k++) {
            var var4 = var2[k].lng;
            var var5 = var2[k].lat;
            longTotal += var4;
            latiTotal += var5;
            pointArr.push({
                lng: var4,
                lat: var5
            });
        }
        var longZhong = longTotal / var2.length;
        var latiZhong = latiTotal / var2.length;
        pointArr.push({
            lng: var2[0].lng,
            lat: var2[0].lat
        })
        // 生成坐标点
        var trackPoint = [];
        for (var i = 0, j = pointArr.length; i < j; i++) {
            trackPoint.push(new BMap.Point(pointArr[i].lng, pointArr[i].lat));
        }
        var trackPoint2 = [];
        trackPoint2.push(new BMap.Point(longZhong, latiZhong));
        var marker2;
        console.log("isrecommen" + e.isRecommend);
        if (e.isRecommend == "Y") {
            console.log("进来了---------------------------------");
            var myIcon = new BMap.Icon("/img/bike/红包.png", new BMapGL.Size(50, 50));
            marker2 = new BMap.Marker(trackPoint2[0], {
                icon: myIcon
            });
            console.log("xxx");
            map.addOverlay(marker2);
        } else {
            var marker2 = new BMap.Marker(trackPoint2[0]);  // 创建标注
            map.addOverlay(marker2);
        }

        var sContent =
            "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>" + var1.parkingRegionId + "</h4>" +
            "<label>停车区域名称：</label><p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>" + var1.parkingRegionName + "</p>" +
            "<label>停车区域容量：</label><p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>" + var1.parkingRegionCapacity + "</p>" +
            "<label>停车区域已使用容量：</label><p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>" + var1.usedCapacity + "</p>" +
            "</div>";
        var infoWindow = new BMap.InfoWindow(sContent);
        marker2.addEventListener('mouseover', function () {
            this.openInfoWindow(infoWindow);
        });

        // 画线
        var polyline = new BMap.Polyline(trackPoint, {
            strokeColor: "#ad0e21",
            strokeWeight: 3,
            setStrokeStyle: "dashed",
            strokeOpacity: 1
        });
        map.addOverlay(polyline);
        // 配置图片
        var size = new BMap.Size(22, 22);
        var offset = new BMap.Size(0, 0);
        var imageSize = new BMap.Size(20, 20);

        // 画图标
        // for (var i = 0, j = trackPoint.length; i < j; i++) {
        //     var marker = new BMap.Marker(trackPoint[i], {
        //         offset: offset
        //     }); // 创建标注
        //     map.addOverlay(marker);
        //     marker.addEventListener("click",function () {
        //         // alert(this.getPosition())
        //         var point=this.getPosition();
        //         alert("经度："+point.lng+"\n"+"纬度："+point.lat)
        //     })
        // }
    };
    var tempMaker;
    function showInfo2(e) {
        // map.clearOverlays();    //清除地图上所有覆盖物
        if(tempMaker!=null){
            map.removeOverlay(tempMaker);
        }
        stopBikeLocation = e.point;
        tempMaker = new BMap.Marker(e.point); // 创建标注
        map.addOverlay(tempMaker);
        // alert('点击位置经纬度：' + e.latlng.lng + ',' + e.latlng.lat);
    };
    function stopBikePoint(){
        alert("点击地图，选择模拟停车点");
        map.addEventListener('click', showInfo2);
    }
    function stopBike(){
        if(stopBikeLocation==null){
            alert("请先选择模拟停车点");
        }else{
            map.removeEventListener('click', showInfo2);
            $.ajax({
                type: "GET",
                url: "/map/stopBike" + "/" + stopBikeLocation.lng + "/" + stopBikeLocation.lat,
                dataType: "json",
                success: function (respMsg) {
                   alert(respMsg.message);
                    map.clearOverlays();
                },
            });
        }
    }
    (function () {
        getRandomBike2 = function () {
            console.log("getRandomBike");
            $.get("/test/getRandomBike", function (response) {
                console.log("response" + response);
                let location = response.data.bike.longLati;

                let s = location.split(",");
                console.log(s);
                console.log(s[0], s[1]);
                let point = new BMap.Point(parseFloat(s[0]), parseFloat(s[1]));
                beginLocation = point;
                myGeo.getLocation(new BMapGL.Point(parseFloat(s[0]), parseFloat(s[1])), function (result) {
                    console.log(result);
                    if (result) {
                        $("#beginplace").val(result.address);
                    }
                });
                var marker = new BMap.Marker(point); // 创建标注
                map.addOverlay(marker);
                map.centerAndZoom(point, 17);  // 初始化地图,设置中心点坐标和地图级别
                alert("请在右边输入框输入目的地,然后点击你想去的地方");
                map.addEventListener('click', showInfo);
            }, "json");
        }
    })();

</script>
